@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope';
    background-color: hsl(218, 23%, 16%);
}

main {
    background-color: hsl(217, 19%, 24%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    max-width: 480px;
    height: 296px;
    padding: 46px;
}

.advice-number {
    color: hsl(150, 100%, 66%);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.advice {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}

.divisor {
    width: 400px;
}

.dice {
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    padding: 19px;
    position: absolute;
    transform: translateY(149px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    box-shadow: 0px 0px 12px -4px #000000;
}

.dice:hover {
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 0px 20px hsl(150, 100%, 66%);
}